<mat-toolbar class="navbar">
    <span>
        <img src="/assets/images/logo.jpg" class="navbar-logo"> 
    </span>
    <span></span>
    <span>
        <a mat-button [routerLink]="['/']" routerLinkActive="active">
            <mat-icon >home</mat-icon>
            <span class="navbar-item">Home</span>
        </a>

        <a mat-button [routerLink]="['/aboutme/myinfo']" routerLinkActive="active">
            <mat-icon >info</mat-icon>
            <span class="navbar-item">About</span>
        </a>
    </span>   
</mat-toolbar>

<mat-divider></mat-divider>