<mat-toolbar class="navbar">
    <span>
        <div class="logo-holder logo">
            <span>
              <h3>Code Test</h3>
              <p>TerryBerry</p>
            </span>
          </div>
    </span>
    <span></span>
    <span>
        <a mat-button [routerLink]="['/']" class="navbar-item"
            [routerLinkActive]="['navbar-active']" [routerLinkActiveOptions]="{exact:true}">
                <mat-icon >home</mat-icon>
                <span class="navbar-item-text">Home</span>
        </a>

        <a mat-button [routerLink]="['/aboutme/myinfo']" class="navbar-item"
            [routerLinkActive]="['navbar-active']" [routerLinkActiveOptions]="{exact:true}">
                <mat-icon >info</mat-icon>
                <span class="navbar-item-text">About</span>
        </a>
    </span>   
</mat-toolbar>

<mat-divider></mat-divider>