h1{
    font-size: 5rem;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
}

.star{
    color:yellow;
}

.star-one{
    font-size: 50%;
}
.star-two{
    font-size: 100%;
}
.star-three{
    font-size: 150%;
}
.star-four{
    font-size: 200%;
}
.star-five{
    font-size: 250%;
}